<!-- This item is used for the select tags, ex: interest, place -->
<template id='template'>
	<div class="select-tag">
		<select class="form-control createprofile">
			<option value="0" selected="" disabled="">Auswählen</option>
			{{#list}}
				<option value='{{id}}'>{{name}}</option>
			{{/list}}
		</select>
		<img src="images/arrow_down.png">
	</div>
</template>


<!-- <div class="select-tag">
	<select class="form-control createprofile">
		<div><option value="0" selected="" disabled="">Auswählen</option></div>
		<?php
			if ($all_places->num_rows > 0) {
			   	while ($row = $all_places->fetch_assoc()) {
			    	echo "<option value='".$row["id"]."'> ".$row["name"]."</option>";         
			   	}   
			}
		?>
	</select>
	<img src="images/arrow_down.png">
</div> -->