* {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

body {
	background-color: #ddd;
	font-family: sans-serif;	
	height: 100%;
	widht: 100%;
	padding-top: 5%;
	font-size: 13px;
}

.site-wrap {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

a {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
	position: relative;
	padding: 20px 10px 12px 10px;
	border-bottom: 1px solid #eee;
}
.active {
	background-color: white;
	font-weight: 600;
}
tr:nth-child(even){
	background-color: white;
}
tr:nth-child(odd){
	background-color: #eee;
}

tr:first-child td{
	border-bottom: 2px solid grey;
	background-color: #dadada;
	text-align: center;
	padding-top: 15px;
}

.user-list-edit tr:first-child td {
	border: none;
	background-color: #eee;
}

.user-list-edit td {
	border: none;
	padding-right: 13px;
	padding-top: 10px;
}

td {
	border-right: 1px solid grey;
	margin: 0;
	height: 30px;
	display: inline-block;
}

.activate-user td:nth-child(1){width: 60px;}
.activate-user td:nth-child(2){width: 70px;}
.activate-user td:nth-child(3){width: 180px;}
.activate-user td:nth-child(4){width: 200px;}
.activate-user td:nth-child(5){width: 150px;}
.activate-user td:nth-child(6){width: 35px;}
.activate-user td:nth-child(7){width: 100px; text-align: center;}
.activate-user td:nth-child(8){width: 100px; text-align: center;}

.user-list td:nth-child(1){width: 150px;}
.user-list td:nth-child(2){width: 200px;}
.user-list td:nth-child(3){width: 200px;}
.user-list td:nth-child(4){width: 70px; text-align: center;}
.user-list td:nth-child(5){width: 150px; text-align: center;}
.user-list td:nth-child(6){width: 70px; text-align: center;}

.user-list-edit td:nth-child(1){width: 100px;}
.user-list-edit td:nth-child(2){width: 700px;}

.group-list td:nth-child(1){width: 550px;}
.group-list td:nth-child(2){width: 100px; text-align: center;}
.group-list td:nth-child(3){width: 100px; text-align: center;}

.user-list-edit input, .user-list-edit textarea{width: 100%;}
.user-list-edit input.city {width: 200px;}
.user-list-edit input.street {width: 380px;}
.user-list-edit input.postcode {width: 100px;}

.long-lat td:nth-child(1){width: 100px;}
.long-lat td:nth-child(2){width: 100px; text-align: center;}
.long-lat td:nth-child(3){width: 100px; text-align: center;}
.long-lat td:nth-child(4){width: 100px; text-align: center;}

.user-list-edit textarea {
	min-height: 300px;
	resize: none;
}

.user-list-edit .bio {
	height: 435px;
}

.save-buttons input{
	display: inline-block;
	width: auto;
}
.sidebar {
	display: inline-block;
	background-color: #eee;
	width: 180px;
	height: 500px;
	border-right: 3px solid grey;
	padding: 10px 0 10px 3px;	
}

.main-content {
	background-color: white;
	width: 980px;
	min-height: 520px;
	display: inline-block;
	position: relative;
	padding-bottom: 30px;
	padding-left: 30px;	
}

form .selected-to-activate {
	background-color: rgba(0,255,0,0.3);
}

form .selected-to-delete {
	background-color: rgba(255,0,0,0.3);
}

.activate-checkbox {
	position: absolute;
	right: 50%;
}

.submit {	
	margin: 10px 10px 30px 748px;
}

.save-buttons {
	position: absolute;
	right: 20px;
	top: 20px;
}

#map {
	width: 90%;
	width: calc(100% - 30px);
	height: 500px;
}