* {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

body {
	background-color: #ddd;
	font-family: sans-serif;	
	height: 100%;
	widht: 100%;
	padding-top: 5%;
	font-size: 13px;
}

.site-wrap {
	width: 1100px;
	margin: 0 auto;
}

a {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
	position: relative;
	padding: 20px 10px 12px 10px;
	border-bottom: 1px solid #eee;
}

li:nth-child(even){
	background-color: white;
}
li:nth-child(odd){
	background-color: #eee;
}

td {
	border-right: 1px solid grey;
	margin: 0;
	height: 30px;
	display: inline-block;
}	

td:nth-child(1){width: 60px;}
td:nth-child(2){width: 70px;}
td:nth-child(3){width: 90px;}
td:nth-child(4){width: 200px;}
td:nth-child(5){width: 180px;}
td:nth-child(6){width: 120px;}
td:nth-child(7){width: 35px;}
td:nth-child(8){width: 70px;}
td:nth-child(9){width: 60px; text-align: center;}

.sidebar {
	display: inline-block;
	background-color: #eee;
	width: 180px;
	height: 500px;
	border-right: 3px solid red;
	padding: 10px 0 10px 3px;	
}

.main-content {
	background-color: white;
	width: 900px;
	height: 520px;
	display: inline-block;	
}

.selected-to-activate {
	background-color: #ddd;
}

.activate-checkbox {
	position: absolute;
	right: 50%;
}

.submit {	
	margin: 10px 10px 30px 748px;
}