/* Global Reset */
*{
	margin: 0;
	padding: 0;
}

/* All Textareas*/
textarea {
    max-width: 100%; 
    max-height: 100%;
}
/* Login and Register Page */

#loginbg, #registerbg{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#loginbg{
	background-image: url("../images/login.jpg");
}

#registerbg{
	background-image: url("../images/register.jpg");
}

#containerlogin, #containerregister{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#contentlogin, #contentregister{
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

#containerlogin{
	padding-right: 0;
}

#logintitel, #registertitel{
	font-size: 400%;
	font-weight: bold;
	color: white;
	text-shadow: 5px 5px 10px black;
	text-align: center;
}

/* Navbar */
.headericon{
	min-width: 60px;
	padding: 10px;
	text-align: center;
}

.headericon:hover{
	background-color: #80ac00; /* Blaue Farbe 006377*/
}

.headericon .text{
	background-color: red;
}

.headericon p{
	text-align: center;
	color: white;
	font-size: 2.5em;
	margin: 0px;
	height: 43px;
}

#search{
	padding-top: 15px;
}

#navbar {
	position: relative;
	z-index: 1000;
}

/* Index  page*/

.indexcontainer{
	height: 100%;
	background-color: #ededed;
}

.content{
	background-color: white;
	border-right: 1px #e0dfdf solid;
	border-left: 1px #e0dfdf solid;
	height: 100%;
}

#map {
    height: 400px;
    margin-top: -20px;
}

.sortingcirclecontainer{
	overflow: hidden;
	text-align: center;

	background-color: #a7ce39;
	border-radius:100%;

	border:3px solid #e0dfdf;
	



}

.sortierimage
{
	
	width:100%;
	height:100%;
}
.sortiertext
{
	height:100%;
	width: 100%;
	
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	
}

#card{
	top: -180px;
	left: 40px;
}

.front{
	height: 300px;
	top: 30px;
	left: -30px;
}

#activitycontainer{
	padding-top: 5%;
}
.squarecontainer{
	
	border: 5px solid #e0dfdf;
	border-radius:10%;

	
}
.activityimage
{
	width: 100%;
}

.squaresvg{
	position: absolute;
    transform: translatex(13%);
}

.squarelist{
	border-top: grey 5px solid;
	border-bottom: grey 5px solid;
}

.listimagecontainer{

}

/* Profile */

#profileuserimage.img-circle {
	border: 3px #e0dfdf solid;
}

.profilequickinfo {
	font-size: 2em;
}

.profilenamelastname {
	font-weight: bold;
}

#containerquickinfo {
	padding: 5% 0;
}

.profilecontainerdescription p{
	border: 3px #e0dfdf solid;
	border-radius: 10px;
	padding: 1%;
}
.wordWrap {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

/* New Activity */


h3.newactivity {
	text-align: center;
	margin-bottom: 5%;
}

button.newactivity {
	margin: 5%;
}

/* Activity Description */
#activityanmelden {
	text-align: right;
}

#activityanmelden button{
	background-image: none;
	background-color: #a7ce39;
	border-color: #027404;
}

/* Place description */
#map.placedescription {
	height: 200px;
}

/* neue Index Seite */

html.index, html.index body {
	overflow-x: hidden;
}

html.index a:hover {
	text-decoration: none;
}

.indexcontainer .content.index {
	padding-bottom: 200px;
}

.circle {
	background-color: #a7ce39;
	width: 20%;
	height: 20%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: relative;
	display: inline-block;
	margin-left: 4%;
	margin-top: 5%;
	overflow: hidden;	
	border: 5px solid #ccc;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.circle img {
	display: block;
	width: 100%;
}

.circle:hover {
	cursor: pointer;
}

.circle:hover img{
	opacity: 0;
}

.circle:hover p {
	display: block;
	color: white; 
	font-size: 2em;	
	line-height: 2.5em;
}

.circle p {
	display: none;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
	width: 15%;
	height: 15%;
	margin-left: 4%;
	margin-top: 20px;
	border: 5px solid grey;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	display: inline-block;
	border: 5px solid #ccc;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.square:hover {
	cursor: pointer;
}

.square:hover img {
	opacity: 0;
}

.square:hover p {
	display: block;
	font-size: 2em;	
	line-height: 2.5em;
}

.square img {
	display: inline-block;
	width: 100%;
}

.carousell-navigation {
	margin-top: 100px;
}

.square p {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: none;
}

.carousell {
	position: relative;
	margin-top: 25px;	
}

.carousell h1 {
	margin-left: 20%;
}

.inner-carousell {
	width: calc(100% + 30px);
	border-top: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
	padding: 20px;
	margin-left: -15px;
	display: none;
	position: relative;
}

.activity-wrap {
	display: block;	
	font-size: 1.25em;
	line-height: 2em;
	border-top: 1px solid grey;
	margin-left: 20%;
	position: relative;
}

.entry-title {
	width: 50%;
	display: inline-block;
}

.entry-date {
	display: inline-block;
	position: absolute;
	right: 0;
}

.entry-time {
	width: 25%;
	display: inline-block;
}

.entry-img {
	width: 20%;
	position: absolute;
	left: 1%;
	top: 50px;
	/*display: none;*/
}