/* Global Reset */
*{
	margin: 0;
	padding: 0;
}

.tmp, #tmp-select {
	display: none;
}

/* Login and Register Page */

#loginbg, #registerbg{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#loginbg{
	background-image: url("../images/login.jpg");
}

#registerbg{
	background-image: url("../images/register.jpg");
}

#containerlogin, #containerregister{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#contentlogin, #contentregister{
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

#containerlogin{
	padding-right: 0;
}

#logintitel, #registertitel{
	font-size: 400%;
	font-weight: bold;
	color: white;
	text-shadow: 5px 5px 10px black;
}

/* Navbar */
.headericon{
	min-width: 60px;
	padding: 10px;
	text-align: center;
}

.headericon:hover{
	background-color: #80ac00; /* Blaue Farbe 006377*/
}

.headericon .text{
	background-color: red;
}

.headericon p{
	text-align: center;
	color: white;
	font-size: 2.5em;
	margin: 0px;
	height: 43px;
}

#search{
	padding-top: 15px;
}

/* Index  page*/

.indexcontainer{
	height: 100%;
	background-color: #ededed;
}

.content{
	background-color: white;
	border-right: 1px #e0dfdf solid;
	border-left: 1px #e0dfdf solid;
	height: 100%;
}

#map {
    height: 25em;
}

.sortingcirclecontainer {
	text-align: center;
	background-color: #a7ce39;
	border-radius:100%;
	border:3px solid #e0dfdf;
}
#circleactivity
{
	width:20%;
}
#circlegroup
{
	width:20%;
}
#circleactivity
{
	width:20%;
}
#circleplace
{
	width:20%;
}
#hidemaps
{
	width:20%;
}
#circlecreate
{
	width:20%;
}
.sortierimage
{
	margin: 25% 25%;
	width:40%;
	height:60%;
}
.sortiertext
{
	height:100%;
	width: 100%;
	
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	
	
}

#card{
	top: -180px;
	left: 40px;
}

.front{
	height: 300px;
	top: 30px;
	left: -30px;
}

#activitycontainer{
	padding-top: 5%;
}
.squarecontainer{
	padding: 1% 0;
}

.squaresvg{
	position: absolute;
    transform: translatex(13%);
}

.squarelist{
	border-top: grey 5px solid;
	border-bottom: grey 5px solid;
}

.listimagecontainer{

}

/* Profile */

#profileuserimage.img-circle {
	border: 3px #e0dfdf solid;
	width: 170px;
	height: 170px;
}

.profilequickinfo {
	font-size: 2em;
}

.profilebirthday,
.profileplace {
	font-size: 0.8em;
}

.profilenamelastname {
	font-weight: bold;
}

#containerquickinfo {
	padding: 5% 0;
}

.profilecontainerdescription p, .profilecontainer-description{
	border: 3px #e0dfdf solid;
	border-radius: 10px;
	padding: 3px;
}

.select-tag {
	background-color: #7ebce6;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	position: relative;
}

.select-tag select {
	background-color: transparent;
	display: inline-block;
	overflow: hidden;
	color: white;
	border: 0;
   	border-radius: 0;
   	-webkit-appearance: none;
	width: 100%;
}

.select-tag select:focus {
}

.select-tag img {
	position: absolute;
	right: 10px;
	top: 15px;
}

#tmp-select {
	width: auto;
}


/* New Activity */
h3.newactivity {
	text-align: center;
	margin-bottom: 5%;
}

button.newactivity {
	margin: 5%;
}

/* Activity Description */
#activityanmelden {
	text-align: right;
}

#activityanmelden button{
	background-image: none;
	background-color: #a7ce39;
	border-color: #027404;
}

/* Place description */
#map.placedescription {
	height: 200px;
}
